@page

@{
    ViewData["Title"] = "Restaurants";
}
<h1>Ресторани</h1>

<p>Карта од Македонија на која се означени сите ресторани.</p>
<p>Ресторани прикажани во табела со нивни информации.</p>

